<%- include("./partials/topArtists.ejs") %>  

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Who are we?</h1>
        <p>
          Sed est nisl, feugiat in rhoncus quis, tempus a nibh. Phasellus posuere, ex porttitor imperdiet porta, neque dolor porta elit, quis ultricies velit tellus et nisi. Aenean ac nulla nec elit mattis ullamcorper ut sit amet diam. Aliquam tempus nulla nec ex cursus posuere. In facilisis lorem arcu, eget egestas dolor vestibulum nec. Curabitur arcu urna, lacinia eu hendrerit quis, pulvinar semper dui. Integer volutpat odio at justo mattis venenatis. Duis ligula augue, feugiat ut ultrices eu, scelerisque eget ex. Quisque pellentesque odio non tincidunt tempus. Integer faucibus, sem eu ullamcorper volutpat, lorem leo malesuada ante, eget sodales ipsum mi vel enim. Mauris pharetra magna in nisi rutrum, vel dapibus mauris tincidunt. Mauris eu ante in orci porttitor sollicitudin quis ac massa. Quisque vitae nunc urna. Cras risus nunc, dapibus id ornare vitae, dignissim quis lorem. In vel nisl ut nunc malesuada feugiat.
        </p>
        <p>
          Fusce vel ornare ex, in venenatis felis. Donec venenatis vitae elit a suscipit. Fusce posuere quis urna nec ullamcorper. Suspendisse ac massa ac tortor suscipit viverra nec vitae urna. Vivamus lobortis viverra auctor. Ut scelerisque libero sed elit pharetra, ac luctus nisi pretium. Praesent ut velit porta, hendrerit risus in, fringilla enim. Duis tristique, ligula sit amet egestas interdum, mauris ipsum vehicula justo, eget porta purus est tincidunt eros.
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Get Busy!</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam cursus justo non volutpat consectetur. Donec facilisis aliquam lorem, ut accumsan metus pharetra sit amet. Pellentesque quis cursus justo, ac venenatis quam. Donec urna dolor, tempor at cursus vitae, maximus ac augue. Nam est enim, vehicula nec porttitor nec, malesuada sit amet lorem. Aliquam a aliquam nulla. Vestibulum tristique scelerisque arcu, in malesuada nibh iaculis quis.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Who should come?</h1>
        <ul class="sidebar-body">
          <li>Anybody interested in art and the creative industry</li>
          <li>Painters, sculptors, photographers and graphic artists</li>
          <li>
            Those interested in meeting and making a connection with others in the local art scene.
          </li>
        </ul>
      </article>
      <%- include('./partials/artworks.ejs') %>
    </aside>
  </div>
</div>